$main-font:'Montserrat', sans-serif;
$title-font:'Playfair Display', serif;


a {
  text-decoration:none;
}

img{
  max-width: 100%;
  height:auto;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.page-header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand, .brand img {
  display: block;
}

.menu-items {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu-items li{
  margin: 0 2px;
  display: inline-block;
}

.menu-items li a{
  /* Style for "Home" */
  color: yellow;
  font-family: $main-font;
  font-size: 14px;
  font-weight: 400;
  padding: 20px;
  display: inline-block;
  line-height: 2.9em;
}

.section-header {
  text-align: center;
}

.intro-section h1{
  margin : 0 0 100px 0;
  font-family: $main-font;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1.88px;
}

.intro-section p {
  margin: 190px 0 50px 0;
  font-family: $title-font;
  font-size: 40px;
  font-style: italic;
  letter-spacing: -1px;
}

.btn-primary {
  margin-top: 60px;
  padding: 25px 50px;
  background-color: #fed136;
  border-radius: 3px;
  color: #ffffff;
  font-family: $main-font;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
